body{
    background-color: #8F97A8;
    text-align: center
}

.container {
    text-align: center;
    justify-content: center;
    padding: 250px;
    padding-top: 10px;


}
.table{
    margin: 50px;
    font-size: 30px;
    color : #011829
}